.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body{
background: linear-gradient(139deg, rgba(2,0,36,1) 0%, rgba(4,249,169,1) 11%, rgba(84,9,121,1) 37%, rgba(40,116,191,1) 70%, rgba(15,232,135,1) 94%, rgba(116,0,255,1) 100%);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
div{
  background-color: rgba(40,40,60,0.6);
  border-radius: 25px;
  padding: 10px;
  color: #ddddff;
}


.clear{
  all:none;
}
.maindiv{
  border-radius: 0;
  background-color: rgba(40,40,60);
}
.container{
  border-radius: 0;
  padding: min(8.3%,20px);
}
img {
  width: 50%;
  align-self: center;
  max-width: 200px;
}

.card{
  margin: 10px;
  transition: 0.5s;
  backdrop-filter: blur(10px);

}
.card:hover{
  background-color: rgba(40,40,60,1);
  backdrop-filter: blur(100px);

}
a:link, a:visited {
  background-color: rgba(60,60,90);
  color: #ddddff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(80,80,120);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(40,40,60,1);
}
::-webkit-scrollbar-thumb {
  background: rgba(60,60,90);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(80,80,120);
}
