.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

div {
  background-color: rgba(40, 40, 60, 0.2);
  border-radius: 25px;
  padding: 10px;
  color: #ddddff;
}

.maindiv {
  border-radius: 0;
  background-color: rgba(40, 40, 60, 0.6);
}

.container {
  border-radius: 0;
  padding: min(8.3%, 20px);
  margin: 0;
}

.img {
  width: 50%;
  align-self: center;
  max-width: 200px;
  margin: 10px;
  transition: transform 0.1s ease-out;
  transform-origin: center center;
}

.card {
  margin: 10px;
  transition: 0.5s;
  backdrop-filter: blur(5px);
}

.card:hover {
  background-color: rgba(40, 40, 60, 0.6);
  backdrop-filter: blur(100px);
}

a:link,
a:visited {
  background-color: rgba(60, 60, 90);
  color: #ddddff;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

a:hover,
a:active {
  background-color: rgba(80, 80, 120);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(40, 40, 60, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(60, 60, 90);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(80, 80, 120);
}

.clear {
  all: none;
}

.dot {
  position: fixed;
  z-index: -1;
  width: 10px;
  height: 10px;
  background: rgb(24,21,80);
background: radial-gradient(circle, rgba(24,21,80,1) 0%, rgba(0,0,0,1) 100%);
  border-radius: 50%;
  animation: starry 4s infinite;
}

@keyframes starry {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}